__pycache__
.vscode
neural_ilt_package/lithosim_kernels/
neural_ilt_package/output/
neural_ilt_package/models/
.idea/
neural_ilt_package/dataset/train_list.txt
neural_ilt_package/dataset/train_masks/
neural_ilt_package/dataset/val_list.txt
neural_ilt_package/dataset/train_layouts/
neural_ilt_package/dataset/test_list.txt
